<% provide(:title, "クイズ結果") %>

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-5">
    <div class="text-center">
      <h2 class="text-danger d-inline-block my-4"><%= @count %> 問正解！</h2>
      <%= link_to "もう一度", new_quiz_path %>
    </div>

    <% @quizzes.each do |i, quiz|%>
    <div class="row mb-3">
      <div class="col-auto text-right" style="width: 6.5rem;">
        <% if quiz[:result] %>
        <span class="text-danger"><%= i %>問目: ○</span>
        <% else %>
        <span><%= i %>問目: ×</span>
        <% end %>
      </div>
      <div class="col pl-0">
        <a href="" class="nav-link d-inline p-0" id="nav-<%= i %>">
          <%= quiz[:post].correct %> / <%= quiz[:answer] %>
        </a>
      </div>
    </div>
    <% end %>
  </div>

  <div class="tab-content col-md-10 col-lg-auto mt-3 mt-lg-5 px-lg-0">
    <% @quizzes.each do |i, quiz|%>
    <div class="tab-pane" id="nav-<%= i %>">
      <div class="card quiz-card">
        <div class="card-body">
          <div class="row">

            <%= render "posts/post_show", post: quiz[:post] %>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


<script>
  $('.nav-link').on('click', function (e) {
    e.preventDefault();
    var nav_id = $(this).attr('id');
    if ($('.active')) {
      $('.active').removeClass('active');
    }
    $(`.tab-pane#${nav_id}`).addClass('active');
  });
</script>