<% provide(:title, "クイズ結果") %>

<% h = {} %>
<% count = 0 %>

<% for i in 1..10 %>
<% h[i] = {post: Post.find(session["quiz_id_#{i}"])} %>
<% if h[i][:result] = h[i][:post].answer == session["quiz_answer_#{i}"] %>
<% count += 1 %>
<% end %>
<% end %>

<div class="row justify-content-center">

  <div class="col-md-auto mx-lg-4" style="max-width: 28rem;">
    <div class="text-center">
      <h2 class="text-danger d-inline-block my-4"><%= count %> 問正解！</h2>
      <%= link_to "もう一度", new_quiz_path %>
    </div>

    <div class="nav flex-column">
      <% for i in 1..10 %>
      <p class="py-2">
        <% if h[i][:result] %>
        <span class="text-danger"><%= i %>問目: ○</span>
        <% else %>
        <span><%= i %>問目: ×</span>
        <% end %>

        <a href="#" class="nav-link d-inline" id="nav-<%= i %>">
          <%= h[i][:post].answer %> / <%= session["quiz_answer_#{i}"] %>
        </a>
      </p>
      <% end %>
    </div>
  </div>

  <div class="tab-content col-md-auto mt-4">
    <% for i in 1..10 %>
    <div class="tab-pane" id="nav-<%= i %>">
      <div class="card" style="width: 25rem;">
        <div class="card-body row">

          <%= render "posts/post_show", post: h[i][:post] %>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  $('.nav-link').on('click', function (e) {
    e.preventDefault();
    var nav_id = $(this).attr('id');
    if ($('.active')) {
      $('.active').removeClass('active');
    }
    $(`.tab-pane#${nav_id}`).addClass('active');
  });
</script>