<% provide(:title, "ログイン") %>
<h2>ログイン</h2>

<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <%= form_with(url: login_path, local: true) do |f| %>
    <% if @error_message %>
    <p class="mb-3 text-danger">・<%= @error_message %></p>
    <% end %>

    <div class="form-group">
      <%= f.label "ユーザー名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <%= f.submit "ログイン", class: "btn btn-primary btn-block mt-4" %>
    <% end %>

    <p class="mt-2"><%= link_to "新規登録はこちら", signup_path %></p>
  </div>
</div>