<%= form_with(model: @user, local: true) do |f| %>
<%= render "shared/error_messages", object: f.object %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<% if text == "新規登録"%>
<%= f.hidden_field :image_name, value: "default_#{(1..9).to_a.sample}.png" %>
<% else %>
<div class="form-group">
  <%= f.label :image_name %>
  <%= f.file_field :image_name, class: "form-control-file" %>
</div>
<% end %>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
</div>

<%= f.submit text, class: "btn btn-primary btn-block mt-4" %>
<% end %>