<%= form_with(model: @post, local: true) do |f| %>
<%= render "shared/error_messages", object: f.object %>

<div class="form-row">
  <div class="form-group col-sm-6">
    <%= f.label :kind %>
    <%= f.select :kind, kind, {}, class: "custom-select" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :media %>
    <%= f.select :media, media, {}, class: "custom-select" %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :question %>
    <%= f.text_area :question, class: "form-control", rows: "4" %>
  </div>

  <div class="col-sm-12 answer-form">
    <%= render "form_1" %>
  </div>

  <% if text == "保存" %>
  <% tags.drop(2).each do |s, a| %>
  <div class="form-group col-sm-6">
    <%= f.label s %>
    <%= f.select s, a, {include_blank: "指定しない"}, class: "custom-select" %>
  </div>
  <% end %>
  <% else %>
  <% tags.drop(2).each do |s, a| %>
  <div class="form-group col-sm-6">
    <%= f.label s %>
    <%= f.select s, a, {include_blank: "指定しない", selected: session[s]}, class: "custom-select" %>
  </div>
  <% end %>
  <% end %>
</div>

<%= f.submit text, class: "btn btn-primary btn-block mt-4" %>
<% end %>


<script>
  $(function () {
    var kind = $('[name="post[kind]"] option:selected').val();
    switch (kind) {
      case '自由記述':
        $('.answer-form').html('<%= j(render "form_1") %>');
        break;
      case '一問一答':
        $('.answer-form').html('<%= j(render "form_2", kind: "一問一答") %>');
        break;
      case '一問多答':
        $('.answer-form').html('<%= j(render "form_3") %>');
        break;
      case '並び替え':
        $('.answer-form').html('<%= j(render "form_2", kind: "並び替え") %>');
        break;
    }
  });

  $('[name="post[kind]"]').change(function () {
    var kind = $('[name="post[kind]"] option:selected').val();
    switch (kind) {
      case '自由記述':
        $('.answer-form').html('<%= j(render "form_1") %>');
        break;
      case '一問一答':
        $('.answer-form').html('<%= j(render "form_2", kind: "一問一答") %>');
        break;
      case '一問多答':
        $('.answer-form').html('<%= j(render "form_3") %>');
        break;
      case '並び替え':
        $('.answer-form').html('<%= j(render "form_2", kind: "並び替え") %>');
        break;
    }
  });
</script>