<div class="row">
  <span class="col-auto pr-0" id="like-btn-<%= post.id %>" style="min-width: 20%;">
    <% if current_user.like?(post) %>
    <%= render "likes/unlike", post: post %>
    <% else %>
    <%= render "likes/like", post: post %>
    <% end %>
  </span>

  <span class="col-auto px-0" style="min-width: 20%;">
    <%= link_to post, class: "comment-btn" do %>
    <% if current_user.comment?(post)%>
    <small class="fas fa-comment text-secondary"></small>
    <% else %>
    <small class="far fa-comment text-secondary"></small>
    <% end %>
    <% end %>
    <% if post.comments.any? %>
    <small class="pl-1 text-secondary"><%= post.comments.count %></small>
    <% end %>
  </span>
</div>