<div class="col-auto pr-0">
  <%= link_to (icon_for post.user, size: 40), post.user %>
</div>

<div class="col">
  <div>
    <strong><%= post.user.name %></strong>
    <% if current_user.following?(post.user) %>
    <small class="fas fa-check-circle ml-1 text-primary"></small>
    <% end %>

    <% if current_page?(post) && current_user?(post.user) %>
    <span class="dropdown float-right">
      <button class="px-0 border-0 bg-transparent" data-toggle="dropdown" data-display="static">
        <small class="fas fa-ellipsis-v text-secondary"></small>
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-md-left">
        <%= link_to "編集", edit_post_path(post), class: "dropdown-item" %>
        <%= link_to "削除", post, method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "dropdown-item" %>
      </div>
    </span>
    <% end %>
  </div>

  <p class="mt-2"><%= post.question %></p>

  <% if post.options %>
  <div class="mt-3">
    <% post.options.each do |option| %>
    <p>・<%= option %></p>
    <% end %>
  </div>
  <% end %>

  <p class="mt-4 mb-3"><strong>A. <%= post.correct %></strong></p>

  <%= render "posts/post_menu", post: post %>
  <small class="text-secondary"><%= l post.created_at %></small>
</div>