<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #81bbeb;">
  <% if logged_in? %>
  <%= link_to "OnePieceQuiz", posts_path, class: "navbar-brand" %>

  <% if current_page?(posts_path) %>
  <button class="px-0 border-0 bg-transparent ml-auto d-lg-none" data-toggle="modal" data-target="#searchModal">
    <span class="fas fa-search navbar-brand"></span>
  </button>
  <% end %>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar"
    style="border-color: rgba(255, 255, 255, 0.5);">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <% if current_page?(posts_path) %>
      <li class="nav-item active d-none d-lg-block">
        <button class="border-0 bg-transparent nav-link" data-toggle="modal" data-target="#searchModal">
          <span class="fas fa-search"></span>
        </button>
      </li>
      <% end %>
      <li class="nav-item <%= 'active' if current_page?(current_user) %>">
        <%= link_to current_user.name, current_user, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(posts_path) %>">
        <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_post_path) %>">
        <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(users_path) %>">
        <%= link_to "ユーザー一覧", users_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(new_quiz_path) %>">
        <%= link_to "クイズ", new_quiz_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>

  <% else %>
  <%= link_to "OnePieceQuiz", root_path, class: "navbar-brand" %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item <%= 'active' if current_page?(login_path) %>">
      <%= link_to "ログイン", login_path, class: "nav-link" %>
    </li>
  </ul>
  <% end %>
</nav>