<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body class="min-vh-100 <%= 'bg' if current_page?(root_path) || current_page?(new_quiz_path) %>"
  style="padding: 4.5rem 0;">
  <%= render "layouts/header" %>
  <div class="container">
    <%= yield %>
  </div>
  <% flash.each do |message_type, message| %>
  <div class="fixed-bottom container">
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  </div>
  <% end %>
</body>

</html>

<script>
  setTimeout(function () {
    $('.alert').slideUp();
  }, 2000);
</script>